.section-lovetext {
    padding: 1rem 0;
    /* height: 35rem; */
    /* background-image: linear-gradient(to right bottom, #ee0978c0, #ff6a00c2),
      url(../../assets/card-img/a3.jpg);
      background-size: cover;
    background-position: top; */
    background-color: #f7f7f7;

    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: skewY(-5deg) */
}



.love-text-container {
display: flex;
justify-content: center;
flex-direction: column;
width: 79%;
align-content: center;
position: relative;
/* transform: skewY(5deg) */
}
.love-heading {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 3rem;
    background-image: linear-gradient(to right, #ff6a00bb, #ee0978c9);
    -webkit-background-clip: text;
    color: transparent;
    /* width: 80rem; */
    /* position: relative; */
  }

@media(max-width: 600px){
    .love-heading {
        font-size: 2.8rem;
    margin-top: 5rem;
    background-image: none;
  -webkit-background-clip: none;
  color: black;
    }
}

.love-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
    left: 3rem;
    margin: 1rem;
}

@media(max-width: 600px){
    .love-text{
        font-size: 1.5rem;
        width: 100%;
        left: 0rem;
        margin-top: 3rem;
    }
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    margin-top: 3.5rem;
    
}
@media(max-width: 600px){
    .player-wrapper {
        position: relative;
        padding-top: 56.25%;
        width: 100%;
        /* left: 21rem; */

    }
}

.video {
    position: absolute;
    top: 0;
    left: 0;

}
