.about {
  background-color: #f7f7f7;
  padding-top: 20rem;
  margin-top: -25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-secondary {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5rem;
  background-image: linear-gradient(to right, #ff6a00bb, #ee0978c9);
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 600px) {
  .heading-secondary {
    font-size: 2.8rem;
    margin-top: 15rem;
    background-image: none;
    -webkit-background-clip: none;
    color: black;
  }
}

@media(max-width: 360px){
  .heading-secondary{
    /* margin-left: 2rem; */
    font-size: 2.4rem;
  }
}
.about-info {
  position: relative;
  left: 2rem;
  display: flex;
  justify-content: center;
  width: 79%;
  margin-top: 1rem;
}

.about-info-text {
  position: relative;
  width: 70%;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .about-info-text {
    width: 100%;
    font-size: 1.5rem;
    left: -2rem;
    margin-bottom: -7rem;
    margin-top: 2rem;
  }
}

.infoCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3.5rem;
}
@media (max-width: 600px) {
  .infoCard {
    margin: 12.5rem 0 0 0;
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35.5rem;
  width: 28.5rem;
  margin-top: 1.5rem;
  margin-right: 0.9rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .card {
    width: 18.4rem;
    height: 25rem;
    margin: 0.19rem;
    margin-top: 0.5rem;
    /* margin-right: -2.5rem; */
  }
}
.card__side {
  color: #fff;
  font-size: 2rem;
  height: 35.5rem;
  width: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0 1.9rem 4rem rgba(0, 0, 0, 0.25);
  
}
@media (max-width: 600px) {
  .card__side {
    height: 25rem;
    width: 18.4rem;
  }
}
.card__side--front {
  
  display: flex;
  flex-direction: column;
  height: 35.5rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #ff6a00bb, #ee0978c9);
}

@media (max-width: 600px) {
  .card__side--front {
    height: 25rem;
    width: 18.4rem;
  }
}
.card__side--front .card__image {
  height: 30rem;
  border-radius: 1rem 1rem 0 0;
  width: 28.5rem;
}

@media (max-width: 600px) {
  .card__side--front .card__image {
    height: 20rem;
    width: 18.5rem;
  }
}

.card__side--front .card-details {
  width: 100%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .card__side--front .card-details {
    width: 18.4rem;
    height: 4rem;
  }
}

.card__side--front .card-name {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.35rem;
}

@media (max-width: 600px) {
  .card__side--front .card-name {
    font-size: 1.2rem;
  }
}

.card__side--front .card-price {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  color: #fff;
}

/* CARD BACK */

.card__side--back {
  background-image: linear-gradient(to right bottom, #ee097888, #ff6a007e);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  height: 35.5rem;
}

@media(max-width:600px){
  .card__side--back{
    height: 25rem;
  }
}

.card__side--back .card-intro {
  font-size: 1.2rem;
  margin: 0 2rem 5rem 2rem;
}
.card__side--back .card-info {
  font-size: 1.2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
