
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: DancingScript;
  src: url(./DancingScript-Bold.ttf);
}

html {
  font-size: 62.5%;
  
}

@media (max-width: 600px) {
  html {
    font-size: 58%
  }
}

body {
  /* font-family: "Lato", sans-serif; */
  font-family: "Montserrat", sans-serif;
  

  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 2.5rem 2.5rem 0 2.5rem  ;

  box-sizing: border-box;
  
}
@media(max-width: 900px) {
  body {
    padding: 0rem;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0rem;
    line-height: 1.2;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}